.principal {
  background-color: rgba(44, 44, 44, 0.623);
  border-radius: .5rem;
  padding: 3rem;
  overflow-y: scroll;
  height: 40rem;
  width: 30rem;
}

.actividad {
  background-color: #4d4d4d71;
  padding: .5rem;
  border-radius: .4rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.actividad, .actividad a {
  font-size: 1.5rem;
}

.actividad a {
  color: rgb(230, 136, 59);
}

.titulo {
  margin: 0;
  margin-bottom: 1rem;
  font-size: 2.5rem;
}
