<div class="mensaje" *ngIf="mensaje">{{ mensaje }}</div>
<div class="principal" *ngIf="usuario">
  <div class="cabecera">
    <h1>{{ usuario.usuario }}</h1>
    <p>Fecha de nacimiento: {{ parsearFecha(usuario.fecha_nacimiento) }}</p>
    <button *ngIf="usuarioLogueado && isLogin && !siguiendo && (usuarioLogueado.id !== usuario.id)" class="seguir" (click)="seguir()">Seguir</button>
    <button *ngIf="usuarioLogueado && isLogin && siguiendo && (usuarioLogueado.id !== usuario.id)" class="dejar-seguir" (click)="dejarSeguir()">Dejar de seguir</button>
    <button *ngIf="usuarioLogueado && isLogin && (usuarioLogueado.id === usuario.id)" class="dejar-seguir" (click)="onEditarPerfil()">Editar perfil</button>
    <button class="seguir" (click)="onVerLista()">Ver lista</button>
  </div>
  <img [src]="usuario.imagen" alt="imagen-perfil">
  <div class="biografia">
    <h2>Biografia</h2>
    <p>{{ usuario.biografia }}</p>
  </div>
</div>
