.principal {
  background-color: rgba(68, 68, 68, 0.424);
  border-radius: .5rem;
  padding: 2rem;
}

img {
  border-radius: .5rem;
  width: 50%;
}

.cabecera {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.seguir, .dejar-seguir{
  border: none;
  padding: 1rem;
  font-size: 1.5rem;
  border-radius: .4rem;
  background-color: rgb(69, 143, 69);
  color: white;
}

.dejar-seguir {
  background-color: #D17021;
}
