i {
  margin-left: 1.5rem;
  color: white;
  font-size: 2.5rem;
  cursor: pointer;
}

.login {
  position: absolute;
  margin-top: 1rem;
  background-color: rgb(49, 49, 49);
  border-radius: .4rem;
  display: flex;
  box-shadow: 0px 0px 26px -2px rgba(0,0,0,0.75);
}

.formulario {
  padding: 2rem;
  display: flex;
  justify-content: center;
}

form {
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  width: 80%;
}

label {
  margin-bottom: 1rem;
}

input {
  border-radius: .4rem;
  background-color: rgb(99, 99, 99);
  padding: 1rem;
  color: white;
  height: 3rem;
  font-size: 1.4rem;
  border: none;
}

label:not(:first-of-type) {
  margin-top: 1rem;
}

input:last-of-type {
  margin-bottom: 1.5rem;
}

[hidden] {
  display: none !important;
}

.botones {
  display: flex;
  justify-content: space-between;
}

button {
  background-color: rgb(209, 112, 33);
  border: none;
  font-size: 1.6rem;
  padding: 1rem;
  border-radius: .5rem;
  color: white;
  font-weight: lighter;
}

button:last-of-type {
  background-color: rgba(63, 195, 63, 0.548);
}

.error {
  transition: border .3s;
  border: 2px solid rgb(187, 29, 29);
}

img {
  height: 4rem;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
  margin: 1rem;
}

li {
  font-size: 1.5rem;
  padding: 1rem 1rem 1rem 1rem;
  background-color: rgb(36, 36, 36);
  border-bottom: 1px solid grey;
  cursor: pointer;
}

li:last-of-type {
  border-bottom: none;
}

.menu {
  position: absolute;
  margin-top: 1rem;
  background-color: rgb(36, 36, 36);;
  border-radius: .4rem;
  display: flex;
  box-shadow: 0px 0px 26px -2px rgba(0,0,0,0.75);
}
