nav {
  background-color: rgb(32, 32, 32);
}

.contenedor-enlaces {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 120rem;
}

.contenedor-componentes {
  display: flex;
  align-items: center;
  max-width: 120rem;
}

.enlaces {
  display: flex;
  align-items: center;
}

a:first-of-type {
  margin-right: 4rem;
}

a {
  margin-right: 2rem;
  color: white;
}

a:hover {
  color: rgb(92, 192, 113);
}

.logo {
  width: 5rem;
  margin-left: 1rem;
}

.linea {
  height: .5rem;
  background-color: rgb(92, 192, 113);
}
