.listado {
  border-top: 2px solid grey;
}

.analisis {
  display: flex;
  flex-direction: column;
  background-color: #424242;
  padding: 1.5rem;
  border-radius: .4rem;
  margin-bottom: 2.5rem;
}

a img {
  max-width: 10rem;
  border-radius: .5rem;
}

.cabecera {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}

.imagen-nombre {
  display: flex;
  flex-direction: row;
  align-content: center;
}

.imagen-nombre p {
  margin-left: 2rem;
}

a p {
  font-size: 2rem;
  color: white;
}
