<div class="listado">
  <h3>Analisis de los usuarios</h3>
  <div class="analisis" *ngFor="let analisis of listadoAnalisis">
    <div class="cabecera">
      <div class="imagen-nombre">
        <a [routerLink]="['/usuario', analisis.usuario]"><img [src]="analisis.imagen" alt="imagen perfil usuario"></a>
        <a [routerLink]="['/usuario', analisis.usuario]"><p>{{ analisis.usuario }}</p></a>
      </div>
      <p>{{ parsearFecha(analisis.fecha_creacion) }}</p>
    </div>
    <p>{{ analisis.contenido }}</p>
  </div>
</div>
