<div class="populares">
  <h2>{{ tituloCarousel }}</h2>
  <div class="subrayado-titulo"></div>
  <div class="carousel">
    <div class="libro" *ngFor="let libro of libros">
      <a [routerLink]="['/libro', libro.isbn]"><img [src]="libro.portada" alt=""></a>
      <div class="subrayado-libros"></div>
      <a [routerLink]="['/libro', libro.isbn]"><p>{{ libro.titulo_original }}</p></a>
    </div>
</div>
