.carousel {
  display: flex;
}

img {
  height: 30rem;
  width: 20rem;
}

.libro {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin-left: 3rem;
}

.libro:last-of-type {
  margin-right: 3rem;
}

.subrayado-libros {
  margin-top: 1rem;
  width: 100%;
  height: .4rem;
  border-radius: .3rem;
  background-color: rgb(82, 82, 82);
}

.subrayado-titulo {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  margin-right: 3rem;
  margin-left: 3rem;
  height: .4rem;
  border-radius: .3rem;
  background-color: rgb(88, 189, 110);
}

.populares {
  background-color: rgba(71, 71, 71, 0.335);
  border-radius: .4rem;
  padding-top: 1rem;
  margin-bottom: 5rem;
}

.populares h2 {
  margin-top: 0;
  margin-left: 3rem;
  margin-bottom: 2rem;
}

.populares p {
  text-align: start;
}

a {
  font-size: 1rem;
  line-height: 2.5rem;
  color: white;
}
