<div>
  <input type="text" name="" id="" placeholder="Libro, autor..." (input)="onBusqueda($event.target.value)">
  <div [hidden]="resultadoBusqueda[0]? false: true" class="resultado-contenedor">
    <div class="resultado" *ngFor="let resultado of resultadoBusqueda" (click)="onResultado(resultado)">
      <img [src]="resultado.imagen" alt="{{ resultado.nombre }} imagen">
      <p>{{ resultado.nombre }}</p>
    </div>
  </div>
  <div class="icono">
    <i class="fas fa-search"></i>
  </div>
</div>

