/* You can add global styles to this file, and also import other style files */

html {
  background-color: rgb(32, 32, 32);
  height: 100%;
  box-sizing: border-box;
  font-size: 62.5%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Noto Sans TC', sans-serif;
  min-height: 100%;
  color: white;
  font-weight: lighter;
}

a {
  font-size: 2.5rem;
  text-decoration: none;
  color: black;
}

h1, h2, h3 {
  font-family: 'Roboto', sans-serif !important;
  font-weight: lighter;
}

h1 {
  font-size: 3.5rem !important;
}

h2 {
  font-size: 3rem !important;
}

h3 {
  font-size: 2.5rem !important;
}

p {
  font-size: 1.8em;
  line-height: 3rem;
  text-align: justify;
}

main {
  margin: 0 auto;
  max-width: 120rem;
}

.contenedor {
  margin: 3rem 3rem 0 3rem;
}

button {
  cursor: pointer;
}

button:focus {
  outline: none !important;
}

.bueno:before {
  content: 'Bueno';
}

.bueno {
  background-color: rgb(212, 63, 63);
  font-weight: bold;
  font-size: 1.4rem;
  padding: .4rem;
  border-radius: 1rem;
}

.novedad:before {
  content: 'Novedad';
}

.novedad {
  background-color: rgb(255, 124, 2);
  font-weight: bold;
  font-size: 1.4rem;
  padding: .4rem;
  border-radius: 1rem;
}

.popular:before {
  content: 'Popular';
}

.popular {
  background-color: rgb(120, 58, 201);
  font-weight: bold;
  font-size: 1.4rem;
  padding: .4rem;
  border-radius: 1rem;
}

app-registro {
  width: 100%;
}

.mensaje {
  background-color: tomato;
  text-align: center;
  padding: 1rem;
  font-size: 2rem;
  margin-left: 1rem;
  border-radius: .5rem;
  margin-bottom: 1rem;
}
/* .primario {
  background-color: rgba(33, 218, 147, 1);
}

.secundario {
  background-color: rgba(255, 220, 200, 1);
} */
