<div *ngIf="isLogin && libroSeguidores" class="libroSeguidores">
  <a href="../usuario/{{libroSeguidores.primerUsuario}}">{{libroSeguidores.primerUsuario}}</a>
  <span> y {{libroSeguidores.total}} usuario/s más tienen este libro en su lista</span>
</div>
