<div class="mensaje" *ngIf="mensaje">{{ mensaje }}</div>
<div class="contenido-principal" *ngIf="libro">
  <div class="informacion-secundaria">
    <img [src]="libro.portada" alt="Portada" class="imagen">
    <div class="caracteristicas">
      <h2>Puntuacion: {{ libro.puntuacion }} <span class="bueno"></span></h2>
      <h3>Informacion</h3>
      <ul>
        <li>Editorial: {{ libro.editorial }}</li>
        <li>Autor: {{ libro.autor }}</li>
        <li>Fecha de publicacion: {{ libro.fecha_publicacion }} <span class="novedad"></span></li>
      </ul>
    </div>

    <div class="estadisticas">
      <h3>Estadisticas</h3>
      <ul>
        <li>Total usuarios: {{libro.total}} <span class="popular"></span></li>
        <li>Fecha de adicion: 22/03/2019</li>
      </ul>
    </div>
  </div>
  <div class="informacion">
    <h1 class="titulo">{{ libro.titulo_original }}</h1>
    <div class="subrayado-titulo"></div>
    <div class="botones-principales">
      <button [disabled]="!btnEnabled" (click)="onAnyadirLibro()">Añadir a la lista</button>
      <button>Valorar</button>
    </div>
    <h2>Sinopsis</h2>
    <div class="subrayado"></div>
    <p>{{ libro.sinopsis }}</p>
    <app-libro-seguidores [isbn]="libro.isbn"></app-libro-seguidores>
    <app-analisis [idLibro]="libro.id"></app-analisis>
    <app-editar-analisis [idLibro]="libro.id"></app-editar-analisis>
  </div>
</div>
