.contenido-principal {
  display: grid;
  grid-template-columns: 1fr 3fr;
  column-gap: 4rem;
}

button {
  font-size: 1.8rem;
}

.botones-principales button {
  margin-top: 2rem;
  background-color: rgba(63, 195, 63, 0.548);
  border: none;
  padding: 1rem;
  border-radius: .5rem;
  color: white;
  font-weight: lighter;
}

.botones-principales button:last-of-type {
  margin-left: 2rem;
  background-color: rgb(209, 112, 33);
}

.informacion h1 {
  margin: 0;
  font-weight: lighter;
}

.informacion {
  border-radius: .4rem;
}

.informacion h2 {
  margin-top: 2rem;
  margin-bottom: .5rem;
  font-weight: lighter;
}

ul {
  list-style: none;
  font-size: 1.8rem;
  padding: 0;
}

li {
  margin-bottom: 1rem;
}

.informacion-secundaria {
  padding: 1rem;
}

.subrayado {
  height: .3rem;
  margin-bottom: 1rem;
  background-color: rgb(63, 195, 63);
  border-radius: .3rem;
}

.subrayado-titulo {
  height: .3rem;
  margin-top: .5rem;
  margin-bottom: 1rem;
  background-color: rgb(224, 126, 45);
  border-radius: .3rem;
}

.estadisticas {
  background-color: rgba(112, 128, 144, 0.25);
  padding: .2rem;
  border-radius: .3rem;
}

.estadisticas * {
  margin-left: .5rem;
}

.caracteristicas {
  background-color: rgba(112, 128, 144, 0.25);
  padding: .2rem;
  border-radius: .3rem;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.caracteristicas * {
  margin-left: .5rem;
}

img {
  border-radius: .3rem;
  min-height: 40rem;
  max-height: 50rem;
}

button:disabled {
  opacity: 50%;
  cursor: auto;
}
