<form [formGroup]="form" (ngSubmit)="onSubmit()" *ngIf="isLogin">

  <label for="biografia">Biografia</label>
  <textarea name="biografia" id="biografia" cols="30" rows="10" formControlName="biografia"></textarea>

  <label for="imagen">Imagen</label>
  <input type="text" id="fecha_nacimiento" formControlName="imagen">

  <img [src]="form.get('imagen').value" alt="imagen-perfil" *ngIf="form.get('imagen').value">

  <button type="submit">Enviar</button>

</form>
